In [1]:
import glob
import pandas as pd

In [2]:
files_consensus_partitions = glob.glob('./TAG/*.labels')

files_consensus_partitions.sort(key=lambda name: int((name.split('res')[1]).split('.')[0]))

files_consensus_partitions

['./TAG/rcl.res100.labels',
 './TAG/rcl.res200.labels',
 './TAG/rcl.res400.labels',
 './TAG/rcl.res800.labels',
 './TAG/rcl.res1600.labels',
 './TAG/rcl.res3200.labels']

In [3]:
list_consensus_partitions = {}

for file in files_consensus_partitions:
    consensus_partition = []
    with open(file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            consensus_partition.append(line.split('\t'))
    list_consensus_partitions[file.split('.')[2]] = consensus_partition

In [4]:
for name, partition in list_consensus_partitions.items():
    print(name)
    print('                  NUM CLUSTERS:', len(partition))

    len_ge_100 = 0
    len_lt_100 = 0
    len_lt_10 = 0

    for cluster in partition:
        if len(cluster) >= 100:
            len_ge_100 += 1
        if len(cluster) < 100:
            len_lt_100 += 1
        if len(cluster) < 10:
            len_lt_10 += 1

    print('NUM CLUSTERS WITH >= 100 GENES:', len_ge_100)
    print(' NUM CLUSTERS WITH < 100 GENES:', len_lt_100)
    print('  NUM CLUSTERS WITH < 10 GENES:', len_lt_10)
    print()

res100
                  NUM CLUSTERS: 888
NUM CLUSTERS WITH >= 100 GENES: 33
 NUM CLUSTERS WITH < 100 GENES: 855
  NUM CLUSTERS WITH < 10 GENES: 496

res200
                  NUM CLUSTERS: 809
NUM CLUSTERS WITH >= 100 GENES: 27
 NUM CLUSTERS WITH < 100 GENES: 782
  NUM CLUSTERS WITH < 10 GENES: 456

res400
                  NUM CLUSTERS: 809
NUM CLUSTERS WITH >= 100 GENES: 27
 NUM CLUSTERS WITH < 100 GENES: 782
  NUM CLUSTERS WITH < 10 GENES: 456

res800
                  NUM CLUSTERS: 11
NUM CLUSTERS WITH >= 100 GENES: 1
 NUM CLUSTERS WITH < 100 GENES: 10
  NUM CLUSTERS WITH < 10 GENES: 8

res1600
                  NUM CLUSTERS: 11
NUM CLUSTERS WITH >= 100 GENES: 1
 NUM CLUSTERS WITH < 100 GENES: 10
  NUM CLUSTERS WITH < 10 GENES: 8

res3200
                  NUM CLUSTERS: 11
NUM CLUSTERS WITH >= 100 GENES: 1
 NUM CLUSTERS WITH < 100 GENES: 10
  NUM CLUSTERS WITH < 10 GENES: 8

In [5]:
df = pd.DataFrame(columns=['TTHERM_ID', 'leiden_label_full'])

cluster_num = 0

for cluster in list_consensus_partitions['res400']:
    cluster_num += 1
    for gene in cluster:
        new_row = {'TTHERM_ID': gene.strip(), 'leiden_label_full': cluster_num}
        df = df.append(new_row, ignore_index=True)
    cluster_num += 1

df

              TTHERM_ID leiden_label_full
0       TTHERM_00000030                 1
1       TTHERM_00198510                 1
2       TTHERM_00941380                 1
3       TTHERM_00664030                 1
4      TTHERM_000011939                 1
...                 ...               ...
17644   TTHERM_00191430              1613
17645   TTHERM_00812930              1615
17646   TTHERM_00129440              1615
17647   TTHERM_00035550              1617
17648   TTHERM_00399440              1617

[17649 rows x 2 columns]

In [6]:
df.to_csv('./mcl_rcl_res400_label_df_round_1.csv', index=False)